.navigation-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navigation-panel {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 520px;
        min-height: 100vh;
        background-color: #FFFFFF;
    }
}