.movies-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 70px 70px 10px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .movies-cards {
        padding: 60px 30px 30px;
    }
}

@media screen and (max-width: 320px) {
    .movies-cards {
        padding: 40px 10px 20px;
        gap: 20px;
    }
}