.tech {
    margin: 0;
    padding: 0 70px;
    background-color: #F5F5F5;
    max-width: 100%;
}

.tech__header {
    padding: 100px 0 23px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.21em;
    color: #000000;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.tech__item {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.tech__item-header {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16em;
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 26px;
}

.tech__item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42em;
    max-width: 460px;
    text-align: center;
    margin: 0 auto;
}

.tech-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 90px));
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.tech-list-item {
    background-color: #E8E8E8;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 22px;
    width: 100%;
    /* padding: 21px 0 22px; */
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21em;

}

@media screen and (max-width: 768px) {
    .tech {
        padding: 0 50px;
    }

    .tech-list-item {
        /* width: 84px; */
        padding: 21px 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .tech {
        padding: 0 18px;
        background-color: #FFFFFF;
    }
}