.short-films {
    position: relative;
    margin-top: 31px;
    justify-self: center;
    grid-column: 1/3;
}

.short-films__filter {
    width: 34px;
    height: 14px;
    border-radius: 20px;
    margin-right: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.short-films__filter_invisible {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 4px;
}

.short-films__filter_visible {
    position: relative;
    display: inline-block;
    background-color: #2BE080;
}

.short-films__filter_visible_inactive {
    background-color: #EBEBEB;
    transition: ease .2s;
}

.short-films__filter-checker {
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
    top: 2px;
    right: 2px;
}

.short-films__filter-checker_inactive {
    top: 2px;
    left: 2px;
    background-color: #F5F5F5;
    transition: ease 2s;
}

.short-films__filter-label {
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
}

@media screen and (max-width: 767px) {
    .short-films {
        margin-top: 45px;
    }

    .short-films__filter-label {
        font-size: 11px;
        line-height: 1.63em;
    }
}