.movies-card {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    background-color: #F9F9F9;
}

.movies-card__name {
    margin: 0;
    padding: 22px 0 13px 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.21em;
    color: #000000;
}

.movies-card__duration {
    margin: 0;
    padding: 0 0 30px 22px;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.21em;
    color: #A0A0A0;
}

.movies-card__like {
    width: 14px;
    height: 12px;
    background-image: url(../../../images/like-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0 0 22px 22px;
    object-fit: contain;
    border: none;
    background-color: transparent;
}

.movies-card__like_active {
    background-image: url(../../../images/like-icon-active.svg);
}

.movies-card__image {
    width: 220px;
    height: 122px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    .movies-card {
        flex-direction: column-reverse;
        gap: 14px;
    }
    
    .movies-card__summary {
        display: flex;
        justify-content: space-between;
    }

    .movies-card__name {
        padding: 0 0 8px 12px;
        font-size: 12px;
    }
    
    .movies-card__duration {
        padding: 0 0 14px 12px;
    }
    
    .movies-card__like {
        margin: 2px 16px 0 0;
    }
    
    .movies-card__image {
        width: 300px;
        height: 168px;
    }
}