.movie-search {
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 70px;
    column-gap: 10px;
    justify-content: end;
    margin: 0 auto;
    padding: 80px 70px 39px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    position: relative;
}

/* .movie-search__fieldset {
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
} */

.movie-search__input {
    margin: 0;
    padding: 15px 0 15px 22px;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28em;
    border: none;
    border-radius: 4px;
    background-color: #F9F9F9;
}

.movie-search__input:focus {
    outline: 1px solid #FF6838;
    background-color: #F9F9F9;
}

.movie-search__error {
    position: absolute;
    top: 130px;
    left: 80px;
    color: #FF6838;
}

.movie-search__submit-button {
    width: 70px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5em;
    border: none;
    border-radius: 3px;
    background-color: #FF6838;
}

.movie-search__submit-button:hover {
    cursor: pointer;
}

.movie-search__submit-button:active {
    border: 2px solid #ffbeaa;
}

.movie-search__submit-button:disabled {
    background-color: #E8E8E8;
    color: #A0A0A0;
}

.movie-search__submit-button:disabled:hover {
    cursor: auto;
}

.movie-search__submit-button:disabled:active {
    border: none;
}

@media screen and (max-width: 1279px) {
    .movie-search {
        padding: 80px 30px 39px;
    }

    .movie-search__error {
        left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .movie-search {
        padding: 81px 14px 43px;
    }

    .movie-search__error {
        left: 20px;
    }
}